.header__top__right__language ul.active,
.categories_list ul.active {
    visibility: visible;
    opacity: 1;
}

.categories_list ul {
    position: absolute;
    left: 17px;
    top: 50px;
    background: #222222;
    width: 200px;
    z-index: 9;
    padding: 5px 0;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
}

.categories_list ul li {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.categories_list ul li:hover {
    font-size: 20px;
    font-weight: bold;
}

.hero__search__categories {
    cursor: pointer;
}

.hero__search__categories .arrow_carrot-down {
    cursor: pointer;
    transition: all 200ms ease-in;
}

.hero__search__categories .arrow_carrot-down.active {
    transform: rotate(180deg);
}


.sidebar__item ul li.active {
    font-weight: bold;
}

.custom_pagination {
    margin: 2rem 0;
}

.custom_pagination nav {
    width: 100%;
}

.custom_pagination .desktop_pag {
    font-size: 18px;
}

.custom_pagination .page_list ul li {
    margin: 0rem 2px;
}

.custom_pagination .page_list ul li a {
    border-radius: .5rem;
    color: #7fad39;

}

.custom_pagination .page-item:first-child .page-link,
.custom_pagination .page-item:last-child .page-link {
    border-radius: .5rem;
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
}

.custom_pagination .page_list ul li.active span {
    background-color: #7fad39 !important;
    border: none;
    border-radius: .5rem;

}